<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hassan.sshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hassan.sshop.CheckOrderActivity"></activity>
        <activity android:name="com.hassan.sshop.OrderAddressActivity" />
        <activity android:name="com.hassan.sshop.ContinueOrderActivity" />
        <activity android:name="com.hassan.sshop.AdminDashBoardActivity" />
        <activity android:name="com.hassan.sshop.CartActivity" />
        <activity android:name="com.hassan.sshop.EditProductsActivity" />
        <activity android:name="com.hassan.sshop.ShowAlIitemsActivity" />
        <activity android:name="com.hassan.sshop.UploadProductsActivity" />
        <activity android:name="com.hassan.sshop.AdminLoginActivity" />
        <activity android:name="com.hassan.sshop.SignupActivity" />
        <activity android:name="com.hassan.sshop.LoginActivity" />
        <activity android:name="com.hassan.sshop.MainActivity" />
        <activity android:name="com.hassan.sshop.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>